html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.avatar-circle {
    display: inline-block;
    width: 30px; 
    height: 30px;
    background-color: #007bff; 
    color: white; 
    text-align: center; 
    line-height: 30px;
    border-radius: 50%; 
    font-weight: bold; 
    font-size: 16px; 
}

.main-sidebar {
    background-color: #112445 !important;
}

.nav-sidebar .nav-link {
    color: #d1d5db;
    transition: all 0.3s ease-in-out;
}

    .nav-sidebar .nav-link:hover {
        background-color: #1a345a; 
        color: #ffffff; 
    }

.nav-sidebar .nav-item .nav-treeview .nav-link {
    color: #a0aec0; 
}

    .nav-sidebar .nav-item .nav-treeview .nav-link:hover {
        color: #ffffff;
        background-color: #1a345a;
    }

.nav-sidebar .nav-link.active {
    background-color: #1a345a;
    color: #ffffff;
}

.nav-sidebar .nav-link[style*="color: #f44336;"] {
    color: #f44336 !important; 
}

    .nav-sidebar .nav-link[style*="color: #f44336;"]:hover {
        background-color: #4c1d1d !important; 
        color: #ffffff !important;
    }
















